<!DOCTYPE html>
<html>
<body>
 
<h1>Clock</h1>
 
<p id="hour">
<p id="min">
<p id="sec">
</p>
 
<p>Please input hour:</p>
<input id="u_hour">
 
<p>Please input minute:</p>
<input id="u_min">
 
<p>Please input seconds:</p>
<input id="u_sec">
 
<button type="button" onclick="changeTime()">Change time</button>
 
<script>
var sec_total = 0;
 
function changeTime() {
var h, m, s
 
h = document.getElementById("u_hour").value;
m = document.getElementById("u_min").value;
s = document.getElementById("u_sec").value;
 
sec_total = s*1 +m*60+h*60*60;
 
}
 
window.setInterval(addTime, 1000);
 
function addTime() {
sec_total += 1;
h_remainder = sec_total%(60*60*1);
m_remainder = h_remainder%(60);
 
document.getElementById("hour").innerHTML = (sec_total - h_remainder)/(60*60*1);
document.getElementById("min").innerHTML = (h_remainder-m_remainder)/60;
document.getElementById("sec").innerHTML = m_remainder;
}
</script>
 
</body>
</html>
