<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="clock_test/assets/css/styles.css">
<script type="text/javascript" src="clock_test/controllers/display_driver.js"></script>
<script type="text/javascript" src="clock_test/objects/clock.js"></script>
<script type="text/javascript" src="clock_test/objects/timer.js"></script>
		<title>EECS 448 Group Clock Project!</title>
	</head>
	
	<body>
 		
		<h1>Clock</h1>
 
		<p id="time"></p>
 		<div id="set_time_div">
		<p>Please input hour:</p>
		<input id="u_hour">
 
		<p>Please input minute:</p>
		<input id="u_min">
 
		<p>Please input seconds:</p>
		<input id="u_sec">
		</div>
		<p> Time format: <input type="radio" name="time_format" id="12H" >12 Hour
		<input type="radio" name="time_format" id="24H" checked=true>24 Hour
		</p>
 
		<button type="button" onclick="changeTime()">Change time</button>
 		<button type="button" onclick="showChangeTime()">toggle</button>
 		
	</body>
	
</html>
